ejemplo2/flows-thing-client.json
[
    {
        "id": "25bfa9bdda70c331",
        "type": "tab",
        "label": "get-example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ef2363a3468cf8d",
        "type": "debug",
        "z": "25bfa9bdda70c331",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 140,
        "wires": []
    },
    {
        "id": "266c286f.d993d8",
        "type": "http response",
        "z": "25bfa9bdda70c331",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "54c1e70d.ab3e18",
        "type": "template",
        "z": "25bfa9bdda70c331",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "266c286f.d993d8"
            ]
        ]
    },
    {
        "id": "a8cb12bf382c69e7",
        "type": "http in",
        "z": "25bfa9bdda70c331",
        "name": "",
        "url": "/input",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "1ef2363a3468cf8d",
                "e1719fe943b412f5",
                "54c1e70d.ab3e18"
            ]
        ]
    },
    {
        "id": "a1cb9ec7846be710",
        "type": "ui_led",
        "z": "25bfa9bdda70c331",
        "order": 2,
        "group": "8b1e57270d023d53",
        "width": 0,
        "height": 0,
        "label": "Switch",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "e1719fe943b412f5",
        "type": "json",
        "z": "25bfa9bdda70c331",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "278091814620da3f"
            ]
        ]
    },
    {
        "id": "278091814620da3f",
        "type": "function",
        "z": "25bfa9bdda70c331",
        "name": "",
        "func": "var sensorValue = { payload: msg.payload.sensor};\nvar switchValue = { payload: msg.payload.switch};\nvar nameValue = { payload: msg.payload.name};\nnode.warn(\"sensor = \" + sensorValue.payload);\nnode.warn(\"switch = \" + switchValue.payload);\nnode.warn(\"name = \" + nameValue.payload);\nreturn [sensorValue,switchValue,nameValue];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "85a31592117987ee"
            ],
            [
                "a1cb9ec7846be710"
            ],
            [
                "bf54bc463b928563"
            ]
        ]
    },
    {
        "id": "bf54bc463b928563",
        "type": "ui_text",
        "z": "25bfa9bdda70c331",
        "group": "8b1e57270d023d53",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nodo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "85a31592117987ee",
        "type": "ui_gauge",
        "z": "25bfa9bdda70c331",
        "name": "",
        "group": "8b1e57270d023d53",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensor",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "8b1e57270d023d53",
        "type": "ui_group",
        "name": "Simple Get",
        "tab": "affded23bf0dc9d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "affded23bf0dc9d0",
        "type": "ui_tab",
        "name": "Home 5",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]